<div class="flex flex-row p-30 gap-10">
  <div class="relative">
    <img src="/images/community-impact.png" class="w-[668px] h-auto rounded-xl"/>
    <div class="absolute inset-y-0 left-0 flex flex-col gap-5 m-10">
      <div class="max-w-[200px] flex flex-row items-center justify-center gap-4 bg-white/20 backdrop-blur-md rounded-full px-5 py-2">
        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="8" height="8" rx="4" fill="#0F5238"/>
        </svg>
        <div class="text-white font-normal font-ibm">URGENT REQUEST</div>
      </div>
      <div class="text-2xl text-white font-semibold leading-[-4%] mt-3">Gourmet Catering Surplus</div>
      <div class="text-xl text-white font-medium font-manrope">30+ premium lunch boxes available for collection in the
        West District. High-quality nutritional balance.
      </div>
      <a routerLink="" class="bg-[#0F5238] text-lg text-center text-white font-extrabold rounded-xl px-4 py-4 mt-16 max-w-[180px] leading-[-4%]">
        Request Now
      </a>
    </div>
  </div>

</div>
